footer {
  background-color: #232127;
}
.footer-head {
  display: flex;
  color: white;
  align-items: center;

  gap: 100px;
}
.f-h1 {
  padding: 71px 168px 206px 163px;
}
.f-h2 {
  padding: 71px 168px 206px 163px;
}
.f-ul {
  display: flex;
  gap: 110px;
  padding-bottom: 125px;
}

.f-p1 {
  padding: 71px 0px 187px 10px;
}
.footer-list {
  display: flex;
  justify-content: center;
  margin-top: -175px;

  text-align: left;
}
.footer-list > ul {
  flex-direction: column;
  margin-bottom: 45px;
}
.footer-list > ul > li {
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.f-ul2 {
  color: #bfbfbf;
}
.f-ull1 {
  position: relative;
  right: 54px;
}
.f-ull2 {
  position: relative;
  left: 8px;
}
.f-ull3 {
  position: relative;
  left: 90px;
}
